@font-face {
  font-family: "Pretendard";
  font-size: 14px;
  src: url("../static/font/Pretendard-Regular.otf");
}

.card_movie {
  font-family: "Pretendard";
  display: inline-block;
  margin: 10px;
  border-radius: 15px;
  color: white;
  background-color: rgb(53, 52, 52);
  padding: 0 0 30px 0;
  border: 1px solid black;
}
.card_movie img {
  border-radius: 15px 15px 0 0;
}
.card_movie h2 {
  font-size: 20px;
  margin: 10px 0 10px 15px;
}
.card_movie:hover {
  border: 1px solid white;
}
.text_rating::before {
  content: "★";
  color: rgb(224, 7, 7);
  padding: 0 0 0 15px;
}
